.Navbar{
    position: fixed;
    left : 0;
    top : 0;
    width : 100vw;
    margin : 0;
    padding : 1rem;
    background-color: rgba(255, 255, 255, 0);
    .loginbtn{
        position: absolute;
        right : 20px;
    }
    .homebtn {
        font-weight: bold;
    }
    .homebtn2 {
        font-weight: bold;
        margin-left: 1rem;
    }
}