$c1 : #000000;
$c2: #161f00;
$c3: #283500;
$c4: #324100;
$c5: #3c4d00;
$c6: #465900;
$c7: #506600;
$c8: #658100;
$c9: #7c9c00;
$c10: #93b90d;
$c11: #aed532;
$c12: #c9f24e;
$c13: #daff70;
$c14: #f3ffcb;
$c15: #fbffe2;
$c16: #ffffff;